<section class="rmm-menu-item" @click="revealItem" @blur="revealItem">


    <div class="rmm-menu-item-cover">

        <img src="/src/assets/steak1.jpg" alt="">

        <a v-fade-in="500" v-if="isActive" href="#" class="rmm-btn">BOOK NOW</a>

    </div>


    <div class="rmm-menu-item-main">

      <span class="category-title">pasture for life</span>

        <span class="large-title">Some Title</span>

        <p>

            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pulvinar urna in orci gravida feugiat.

        </p>

    </div>


</section>

